In [1]:
# Install Java
!apt-get install openjdk-11-jdk -y > /dev/null

# Download Spark
!wget -q https://archive.apache.org/dist/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz
!tar -xzf spark-3.4.1-bin-hadoop3.tgz

# Install Python dependencies
!pip install -q pyspark

In [2]:
import os
from pyspark.sql import SparkSession

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"
os.environ["PATH"] += f":{os.environ['SPARK_HOME']}/bin"

spark = SparkSession.builder \
    .appName("SparkRecommendationEngine") \
    .master("local[*]") \
    .getOrCreate()

In [3]:
# Download MovieLens 100k dataset
!wget -q http://files.grouplens.org/datasets/movielens/ml-100k.zip
!unzip -q ml-100k.zip -d /content/

# Load MovieLens dataset (users, movies, and ratings)
ratings = spark.read.csv('/content/ml-100k/u.data', sep='\t', inferSchema=True, header=False)
ratings = ratings.withColumnRenamed('_c0', 'userId').withColumnRenamed('_c1', 'movieId').withColumnRenamed('_c2', 'rating').withColumnRenamed('_c3', 'timestamp')

movies = spark.read.csv('/content/ml-100k/u.item', sep='|', inferSchema=True, header=False)
movies = movies.withColumnRenamed('_c0', 'movieId').withColumnRenamed('_c1', 'title')

ratings.show(5)
movies.show(5)

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|   196|    242|     3|881250949|
|   186|    302|     3|891717742|
|    22|    377|     1|878887116|
|   244|     51|     2|880606923|
|   166|    346|     1|886397596|
+------+-------+------+---------+
only showing top 5 rows

+-------+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|movieId|            title|        _c2| _c3|                 _c4|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|
+-------+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|      1| Toy Story (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  1|  1|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|      2| GoldenEye (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  1|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|      3|Four Rooms (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|      4|Get Shorty (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  0|  0|  0|   1|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|      5|   Copycat (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   1|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
+-------+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [4]:
# Join ratings and movies dataset
data = ratings.join(movies, on='movieId').select('userId', 'movieId', 'rating', 'title')

# Show joined data
data.show(5)

+------+-------+------+--------------------+
|userId|movieId|rating|               title|
+------+-------+------+--------------------+
|   196|    242|     3|        Kolya (1996)|
|   186|    302|     3|L.A. Confidential...|
|    22|    377|     1| Heavyweights (1994)|
|   244|     51|     2|Legends of the Fa...|
|   166|    346|     1| Jackie Brown (1997)|
+------+-------+------+--------------------+
only showing top 5 rows

In [5]:
from pyspark.ml.recommendation import ALS

# Split the data into training and test sets
train_data, test_data = data.randomSplit([0.8, 0.2], seed=1234)

# Initialize the ALS model
als = ALS(userCol='userId', itemCol='movieId', ratingCol='rating', coldStartStrategy='drop')

# Train the model
model = als.fit(train_data)

# Make predictions
predictions = model.transform(test_data)

# Show some predictions
predictions.show(5)

+------+-------+------+--------------------+----------+
|userId|movieId|rating|               title|prediction|
+------+-------+------+--------------------+----------+
|   148|     70|     5|Four Weddings and...| 3.2065504|
|   148|     71|     5|Lion King, The (1...| 3.5808196|
|   148|     89|     5| Blade Runner (1982)| 4.1839113|
|   148|    114|     5|Wallace & Gromit:...|  4.797039|
|   148|    177|     2|Good, The Bad and...|  3.337861|
+------+-------+------+--------------------+----------+
only showing top 5 rows

In [6]:
from pyspark.ml.evaluation import RegressionEvaluator

# RMSE evaluation
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE) = {rmse:.3f}")

Root Mean Squared Error (RMSE) = 0.924

In [7]:
# Get top 10 movie recommendations for a user (e.g., user 1)
user_recs = model.recommendForUserSubset(data.filter(data.userId == 1), 10)

# Show recommendations for user 1
user_recs.show(10, truncate=False)

+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                                       |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |[{1589, 5.509641}, {1449, 5.229162}, {613, 5.0571914}, {1463, 5.0504336}, {119, 4.8934026}, {169, 4.8902206}, {1405, 4.8798966}, {302, 4.851243}, {1137, 4.837176}, {1398, 4.8334484}]|
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [8]:
# Get top 10 movie recommendations for all users
all_user_recs = model.recommendForAllUsers(10)

# Show recommendations for a few users
all_user_recs.show(10, truncate=False)

+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|userId|recommendations                                                                                                                                                                        |
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1     |[{1589, 5.509641}, {1449, 5.229162}, {613, 5.0571914}, {1463, 5.0504336}, {119, 4.8934026}, {169, 4.8902206}, {1405, 4.8798966}, {302, 4.851243}, {1137, 4.837176}, {1398, 4.8334484}] |
|3     |[{1591, 4.540423}, {838, 4.365869}, {114, 4.2859}, {1388, 4.256133}, {593, 4.220229}, {320, 4.218633}, {902, 4.194911}, {1368, 4.1844187}, {1143, 4.1816006}, {205, 4.1202497}]        |
|5     |[{838, 4.8842177}, {851, 4.725778}, {114, 4.701202}, {1368, 4.660892}, {1589, 4.6482124}, {1500, 4.6060376}, {169, 4.5853114}, {593, 4.5702877}, {1085, 4.5297694}, {1154, 4.514162}]  |
|6     |[{1643, 5.125432}, {1463, 5.124143}, {1405, 4.750337}, {1512, 4.63082}, {838, 4.5831103}, {1398, 4.5697837}, {1449, 4.5309706}, {483, 4.52308}, {119, 4.4596157}, {1142, 4.3925843}]   |
|9     |[{1589, 5.9896317}, {613, 5.532191}, {1449, 5.3962865}, {896, 5.394199}, {745, 5.289679}, {512, 5.215345}, {1639, 5.1941094}, {1137, 5.1837325}, {1005, 5.0830727}, {1167, 5.0514727}] |
|12    |[{1463, 5.514493}, {1449, 5.2652826}, {64, 5.265277}, {1450, 5.1706233}, {313, 5.169323}, {318, 5.147962}, {113, 5.1243467}, {272, 5.1050305}, {1064, 5.077571}, {1664, 5.019506}]     |
|13    |[{1463, 5.2112164}, {1450, 4.896325}, {851, 4.8022876}, {868, 4.799003}, {867, 4.7582426}, {1643, 4.706145}, {793, 4.644619}, {1129, 4.5338116}, {1122, 4.523832}, {136, 4.498106}]    |
|15    |[{1233, 4.4251204}, {1166, 4.391444}, {1463, 4.3831916}, {1167, 4.26029}, {936, 4.2478375}, {1639, 4.116487}, {1137, 4.1082406}, {286, 4.0916505}, {1450, 4.0663176}, {880, 4.046271}] |
|16    |[{1463, 5.6464634}, {1643, 5.4731765}, {1450, 5.334937}, {1467, 5.2705245}, {1449, 5.2303677}, {64, 5.173517}, {318, 5.0926833}, {357, 5.0898323}, {1122, 5.0838494}, {1064, 5.043258}]|
|17    |[{1589, 4.728551}, {1129, 4.614105}, {613, 4.5158396}, {793, 4.5049767}, {114, 4.436189}, {851, 4.40174}, {171, 4.3784666}, {1495, 4.330615}, {169, 4.3091803}, {745, 4.2194443}]      |
+------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows